<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>Add Books</title>
        <link rel="stylesheet" href="{% static 'authentication/css/bootstrap.css' %}">
    </head>
    <body>

        
        <img src="https://res.cloudinary.com/awesome-dev/images/w_300,h_300,c_fill/f_auto,q_auto/v1620969215/dde13ed9d661a25772dd745110cd1b14/dde13ed9d661a25772dd745110cd1b14-png?_i=AA" class="logo" width="6%" height="5%">
        <br>
        
        {% if messages %}
         {% for message in messages %}
          <small {% if message.tags %} class="{{message.tags}}" {% endif%}>{{message}}</small>
         {%endfor%}
        {%endif%}
        <a href="{%url 'changepass' %}" class="btn btn-info">Change Password</a>
        <a href="{%url 'logout' %}" class="btn btn-danger">Logout</a>

       
        
        
        <div class="container mt-5">
            <h2 class="text-center alert alert-primary"> Welcome {{name}} </h2>
            {% block content %}
            {% endblock content %}
        </div>


        

















        <script src="{% static 'authentication/js/jquery.js' %}"></script>
        <script src="{% static 'authentication/js/popper.js' %}"></script>
        <script src="{% static 'authentication/js/bootstrap.js' %}"></script>
    </body>
</html>